###########################################################################
# XRootD Mock Server Configuration
# Minimal standalone config for development/testing
###########################################################################

all.export /data

all.role server

# Paths
all.adminpath /var/spool/xrootd
all.pidpath /run/xrootd

# Disable authentication completely
sec.protocol none

# Allow all
cms.allow host *

# Networking
xrd.network keepalive kaparms 10m,1m,5
xrd.timeout idle 60m
